@forward 'src/resources/colors';
@forward 'src/seed/util/mixins';

// $sans: "Open Sans", sans-serif;
// $serif: "PT Serif", serif;

@mixin fonts() {
  font-family: "PT Serif", serif;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

@mixin sans() {
  font-family: "Open Sans", sans-serif;
}

@mixin serif() {
  font-family: "PT Serif", serif;
}

@mixin appearance($value: none) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  -ms-appearance: $value;
  -o-appearance: $value;
  appearance: $value;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin border-radius-all($rTL, $rTR, $rBL, $rBR) {
  -webkit-border-radius: $rTL $rTR $rBL $rBR;
  -moz-border-radius: $rTL $rTR $rBL $rBR;
  -ms-border-radius: $rTL $rTR $rBL $rBR;
  border-radius: $rTL $rTR $rBL $rBR;
}