$dark-color: #029ad0;
$primary-color: #00a7dF;
$primary-light: #e6f5fc;
$secondary-color: #999;
$accent-color: #ffc000;
$action-color: #f03296;

$primary-dark: #454545;
$primary: #413c6b;
$primary-hover: #474275;
$blue-accent: #198ce5;
$yellow-canou: #feff7c;
$orange-waiz: #FF5F00;

$white: #ffffff;
$white-light: #f7f7f7;
$background-fields: #f5f5f5;
$grey-light: #cbcbcb;
$grey: #6c757d;
$grey-dark: #343434;

$green: #11c26f;
$green-hover: #0fa063;

$blue-light: #44a8f5;
$blue-primary-1: #198ce5;
$blue-primary-2: #1675bf;

$orange-primary-1: #FF5F00;

$red: #f96276;