@use "./base" as base;

.module {
  height: 100%;
  width: 100%;
}

.background {
  position: absolute;
  z-index: -100;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  background-color: base.$primary-dark;
}

.module .spacingContainer {
  padding-top: 20px;
}

.module .spacingText {
  padding-top: 4px;
}

.module .card {
  border-radius: 4px;
  border: 1px solid base.$grey-light;
  padding: 8px;
  .main {
    color: base.$white;
    border: none;
    padding: 12px;
    .mainCardText {
      color: base.$white;
      @include base.sans();
    }
  }
  .mainCardTitle {
    font-size: 38px;
    letter-spacing: 1px;
    @include base.sans();
    font-weight: bolder;
  }
}

.module .title {
  font-size: 32px;
  font-weight: bold;
  &.titleWhite {
    color: base.$white;
  }
}

.module .completeWidth {
  width: 100%;
}

.module a.link {
  cursor: pointer;
  color: base.$blue-primary-1;
  &:hover {
    text-decoration: underline;
  }
}

.module .tableRight {
  td {
    text-align: right;
  }
}
