@import "src/resources/base.scss";
@import "src/resources/layout.scss";
@import "src/resources/forms.scss";

.module {
  @include fonts();
  height: 100%;
  width: 100%;
}

.card {
  padding: 12px 18px;
  border: 1px solid #ddd !important;
}

.sectionHeader {
  margin-bottom: 0px;
}

.sectionName {
  font-size: 15px;
  color: #777;
}

.sectionCount {
  font-size: 14px;
  color: #888;
}

.sectionTitle {
  font-size: 15px;
  color: #198ce5;
  padding-bottom: 15px;
}

.items {
  padding-bottom: 24px;
}

.item.active {
  background: #409ce5;
  color: #fff;
}

.flexboxListItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .lessonText {
    margin: 4px;
  }

  .flexRight {
    margin: 4px;
  }
}