@use "src/resources/base" as base;
@use "src/resources/forms" as forms;
@use "src/resources/layout" as layout;

.module {
  background: #fff;
  overflow: auto;

  & > div {
    margin-top: 15px;
  }
}

.module label {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 9px 10px;
  cursor: pointer;
}

.module .selectAllBtn{
  padding: 3px 10px;
  border: 1px solid rgba(0, 0, 0, .125);
  margin-bottom: 10px;
  user-select: none;
  cursor: pointer;
}

.module button {
  background-color: base.$green;
  color: base.$white;
  min-height: 43px;
  margin-bottom: 15px;

  &:hover {
    color: base.$white;
    background-color: base.$green-hover;
  }
}