@import "src/resources/base.scss";
@import "src/resources/forms.scss";
@import "src/resources/layout.scss";

.module {
  @include fonts();
  height: 100%;
  width: 100%;
  font-family: "PT Serif", serif;
  background: #fff;
  overflow: auto;
  padding: 35px 0px;
}

.module label {
  font-family: "PT Serif", serif;
  font-size: 14px;
}

.module .question {
  font-style: italic;
}

.module .selectAllBtn{
  padding: 3px 10px;
  color: #707070;
  font-size: 13px;
  border: 1px solid rgba(0,0,0,.125);
  border-bottom: 0px;
  cursor: pointer;
}

.module .featureTitle {
  margin-top: 12px;
  margin-bottom: 8px;
  font-family: "PT Serif", serif;
  font-style: italic;
}
.module input,
select,
textarea {
  font-family: "PT Serif", serif;
}

.module h4{
  margin-bottom: 30px;
}

.module h5,
h1,
h2,
h3,
h4,
p {
  font-family: "PT Serif", serif;
  color: $grey-dark;
}

.module hr{
  margin-top: 30px;
  margin-bottom: 20px;
}

.module .selected {
  background-color: $primary;
}

.module .breadcrumb {
  font-family: "PT Serif", serif;
  font-size: 18px;
  font-weight: bold;
  color: $grey-dark;

  &.breadcrumbLight {
    color: $grey;
  }
}

.module .subtitle {
  font-family: "PT Serif", serif;
  font-size: 18px;
  color: grey-dark;
}

.module button {
  background-color: $green;
  color: $white;
  min-height: 43px !important;
  border-radius: 24px;
  font-size: 15px;

  &:hover {
    color: $white;
    background-color: $green-hover;
  }
}