@use "src/resources/base" as base;

.title {
  position: relative;
  font-size: 23px;
  top: 35px;
  left: 20px;
}

.project {
  background-color: white;
  a {
    color: black;
  }

  &:last-child {
    margin-bottom: 0px;
  }

  .member {
    display: flex;
    align-items: center;
    padding: 10px 0;

    &:not(:last-child) {
      border-bottom: 1px solid #dbdbdb;
    }

    .profilePic {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 0 15px;
    }

    .memberInfo {
      .name {
        font-size: 16px;
      }
    }
  }
}