@import "src/resources/base.scss";
@import "src/resources/forms.scss";
@import "src/resources/layout.scss";

.module .editGeneric {
  border: none;
  padding: none;
  margin: 4px;
  background: none;
  font-size: 16px;
}

.module .edit {
  @extend .editGeneric;
  color: $blue-primary-1;
  margin-left: 8px;
  font-size: 18px;
  &:hover {
    color: $blue-light;
  }
}

.module .editLight {
  @extend .editGeneric;
  border: none;
  padding: none;
  margin: none;
  color: $white;
  margin-left: 8px;
  font-size: 20px;
  &:hover {
    color: $yellow-canou;
  }
}

.module .cardSectionBlue {
  label {
    color: white;
  }
}
