@import "src/resources/base.scss";
@import "src/resources/forms.scss";
@import "src/resources/layout.scss";
@import "./ProfileForms.module.scss";

$imageSize: 180px;
$marginTop: 16px;

.module {
  @include fonts();
  height: 100%;
  width: 100%;
}

.module .mainCard {
  background: $orange-primary-1;
  color: #fff;
}

.module .mainCard a {
  color: #fff;
}

.module .profileImageContainer {
  width: $imageSize;
  height: $imageSize;
  -webkit-border-radius: $imageSize;
  -webkit-background-clip: padding-box;
  -moz-border-radius: $imageSize;
  -moz-background-clip: padding;
  border-radius: $imageSize;
  background-clip: padding-box;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  float: none;
  border: 3px solid #fff;
}

.module .openButton {
  background-color: $green;
  color: $white;
  min-height: 32px;
  width: 120px;

  &:hover {
    background-color: $green-hover;
  }
}


.module .username {
  margin: 0 auto;
  float: none;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: $marginTop;
}

.module .marginTop {
  margin-top: $marginTop;
}

.module .paddingBottom {
  padding-bottom: ($marginTop)-10px;
}

.module .cardSection {
  @extend .marginTop;
  @extend .paddingBottom;
  border-bottom: 1px solid $white-light;
}

.module .list {
  list-style-type: none;
}

.module .skillsHeader {
  padding: 28px;
  background-color: $primary;
  color: $white;
  border-radius: 4px;

  .title {
    font-size: 18px;
    font-family: "PT Serif", serif;
  }
}

.module .greyBox {
  padding: 12px;
}

.module .greyBox td {
  border-right: 1px solid #ccc;
}

.module .transparentBox {
  padding: 12px 0px;
}

.module .transparentBox td {
  border-right: 1px solid #ccc;
  padding: 12px;
}

.module .flexHorz {
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.module .bigList {
  .element {
    border-bottom: 1px solid $grey-light;
    padding: 6px;
  }

  .link {
    color: $primary;
    font-family: "PT Serif", serif;
    font-size: 18px;
  }

  .title {
    font-size: 18px;
  }
}

.module .table {
  text-align: center;
  font-size: 18px;

  td {
    text-align: center;
    padding: 6px;
    padding-right: 12px;
    padding-left: 12px;

    font-size: 16px;
  }

  .number {
    font-weight: bold;
  }

  .validated {
    color: $green;
  }

  .unvalid {
    color: $red;
  }

  .untested {
    color: $grey;
  }
}


.module .progress {
  background-color: $primary-dark;
  height: 20px;
  margin-bottom: 10px;
}

.module .progressPrimary,
.module .progressSecondary {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.module .progressPrimary:hover,
.module .progressSecondary:hover {
  background-color: rgb(255, 255, 255);
  color: $primary-dark;
  font-weight: bold;
}

.module .cardTitle {
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  color: #444;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.sidebarItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @media (max-width: 1200px) {
    height: unset;
    width: unset;
    position: unset;
  }
}

.makeMeSticky {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;

  @media (max-width: 1200px) {
    position: unset;
  }
}

.module .formTable {
  width: 100%;

  td {
    vertical-align: center;
    text-align: center !important;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  th {
    text-align: center !important;
  }
}


.buttonGreenLight {
  color: $green;
  border: 1px solid $green;
}

.buttonGreen {
  color: white;
  background: $green;
  border: none;
}

.module .input {
  margin-bottom: 5px;
}

.module .input.file {
  background: none;
  border: none;
  padding: 0px;
}

.error {
  width: 100%;
  margin-top: -10px;
  margin-bottom: 10px;
  background-color: #ffeeee;
  color: #a05050;
  font-size: 14px;
  padding: 12px;
  font-weight: bold;
  @include box-sizing(border-box);
}

.done {
  width: 100%;
  margin-top: -10px;
  margin-bottom: 10px;
  background-color: #eeffee;
  color: #50a050;
  font-size: 14px;
  padding: 12px;
  font-weight: bold;
  @include box-sizing(border-box);
}