.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(min-content, auto);
  min-height: calc(100% - 32.5px);

  @media(max-width: 668px) {
    grid-template-columns: 1fr;

  }
  b {
    margin-bottom: 6px;

    @media(min-width: 668px) {
      margin-inline: auto;
    }
  }
}
.content {
  height: 20%;
}
.contDiv {
  background-color: #e7e7e7;
  gap: 1px;
  border: 1px solid #e7e7e7;
  height: 100%;
  
  &:not(:last-child){
    margin-bottom: 12px;
  }
}