@use "src/resources/base.scss" as base;

$width: 245px;
$horizontal-margin: 13px;
$elementWidth: $width - (2 * $horizontal-margin);

.module {
  position: relative;
  display: flex;
}

.module .element {
  width: $elementWidth;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 0 12px;
}

.module button {
  font-family: inherit;
  border: none;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  width: $elementWidth;
}

.module .navButton{
  display: block;
  font-family: inherit;

  &.active .button{
    background-color: base.$blue-accent;
    color: base.$white-light;
  }
}

.module .button {
  color: base.$white;
  border-radius: 3px;
  background-color: base.$grey;
  text-align: left;
  padding: 7px 10px 7px 16px;

  &:hover {
    background-color: base.$blue-accent;
    color: base.$white-light;
  }
}
.module .buttonOption{
  float:right;
  width: 30px;
  padding: 2px 0px;
  font-size: 13px;
  text-align: right;
  z-index: 2;
}

.module .sectionTitle {
  font-size: 11px;
  color: base.$primary-light;
  text-transform: uppercase;
}