@use "src/resources/base.scss" as base;

.module {
  width: 100%;
  height: 100%;
}

.itemContainer {
  border: 1px solid #e0e0e0;
  background: #fff;
}
.itemContainer:not(:last-child){
  margin-bottom: 8px;

}
.empty {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-style: italic;
  color: #aaa;
  min-height: 150px;
  align-content: center;

  i {
    margin-bottom: 14px;
    font-size: 40px;
  }
}