@use "src/resources/base.scss" as base;

.module {
  background: url("/src/resources/images/wave.svg") no-repeat center center;
  background-size: cover;
  background-color: base.$primary-dark;
  height: 100%;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .logoCanou {
    display: inline-block;
    height: 80px;
    width: auto;
  }
  .title {
    @include base.serif();
    font-size: 23px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.85);
  
    span {
      display: inline-block;
      font-size: 14px;
      margin-left: 7px;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
