@use "src/resources/base.scss" as base;

$width: 245px;
$horizontal-margin: 13px;
$elementWidth: $width - (2 * $horizontal-margin);

.module {
  @include base.fonts();
  height: 100%;
  position: relative;
  display: flex;
}

.module .container {
  height: 100%;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  transition: margin-left 250ms ease-out, transform 250ms ease-out;
  width: $width;
  color: white;
  position: relative;
  color: base.$white;
  justify-content: space-between;
}

.module .body {
  min-height: 80px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.module .loading {
  margin-top: 100px;
}

.module .header {
  margin: 12px;
  position: relative;
  display: block;
}

.module .element {
  width: $elementWidth;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 0 12px;
}

.module .projects {
  background: inherit;
}

.module .menu {
  display: flex;
  justify-content: space-between;
}

.module .logo {
  object-fit: contain;
  height: 24px;
  width: auto;
}

.module .menuHamburguer {
  object-fit: contain;
  height: 13px;
  width: auto;
  cursor: pointer;
}

.module .flexColumnElement {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}

.module .select {
  width: $elementWidth;
  
  * {
    font-size: 13px !important
  }
}

.module button {
  font-family: inherit;
  border: none;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  width: $elementWidth;
}

.module .navButton {
  display: block;
  font-family: inherit;
  
  &.active .button {
    background-color: base.$blue-accent;
    color: base.$white-light;
  }
}

.module .button {
  color: base.$grey-light;
  border-radius: 3px;
  background-color: base.$grey;
  text-align: left;
  padding: 7px 10px 7px 16px;
  
  &:hover {
    background-color: base.$blue-accent;
    color: base.$white-light;
  }
}

.module .sectionTitle {
  font-size: 11px;
  color: base.$primary-light;
  text-transform: uppercase;
}