@use "src/resources/base.scss" as base;

$height: 45px;

.module {
  position: relative;
  display: flex;
  @include base.fonts();
  width: 100%;
  font-size: 16px;
}

.container {
  background-color: base.$white;
  height: $height;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.flexColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  a, h3, .button {
    margin-left: 18px;
    margin-right: 18px;
  }
  a, .button{
    cursor: pointer;
  }
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.title {
  margin-top: 5px;
  margin-left: 24px !important;
  font-weight: normal;
  font-size: 15px !important;

  .subtitle {
    font-weight: bold;
    font-size: inherit;
  }
}

.button {
  margin-left: 18px;
  margin-right: 12px;
  font-size: 14px !important;
  color: #777 !important;
  display: flex;
  justify-content: center;
  flex-direction: row;

  .smallImage {
    vertical-align: middle;
    background-clip: padding-box;
    background-size: cover;
    background-position: center center;
  }
}

.profileImage {
  font-size: 20px;
}

.element {
  display: block;
  
  i {
    font-size: 19px !important;
    color: #a0a0a0 !important;
  }
}

.search {
  border: 1px solid #e7e7e7;
  margin-right: 20px;

  i {
    font-size: 16px !important;
    padding: 8px 10px;
  }

  input {
    border: none;
    font-size: 14px;
    width: 200px;
    
    &::placeholder {
      color: #a0a0a0;
    }
  }
}

.teamImage {
  display: inline-block;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.userName span {
  font-size: 14px !important;
  margin-right: 17px;
  i {
    display: inline-block;
    margin-left: 5px;
  }
}

.profileImage {
  margin-right: 12px;
}