@use "src/resources/base.scss" as base;

.title {
  @include base.fonts();
  font-size: 17px;
  margin-bottom: 10px;
}

.sub {
  @include base.fonts();
  font-size: 14px;
  color: #777;
}

.image {
  width: 100%;
  margin-top: 20px;
}