@import "src/resources/base.scss";
@import "src/resources/layout.scss";
@import "src/resources/forms.scss";

.module {
  @include fonts();
  font-family: "PT Serif", serif;
  height: 100%;
  width: 100%;
}

.module .jumbotron {
  background-color: $primary-dark;
  padding: 25px 34px 10px 34px;
}

.module .back {
  position: absolute;
  height: 32px;
  top: 44px;
  cursor: pointer;
}

.module .image {
  height: 75px;
  width: auto;
}
