.floating-button {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(103, 101, 101, 0.2);
  }
  
  .floating-button:hover {
    background-color: #0056b3;
  }
  